<!-- Connectivity Card start -->
<div class="card" *ngIf="!isSerialConnected">
  <div class="card-body">
    <br />
    <!-- Control Board start -->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header" style="background-color:#ebfbfa">
          <h4 class="my-0 text-primary">Control Board</h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <button (click)="scan()" class="btn btn-info btn-lg mx-1">
              <b>SCAN</b>
            </button>
            <button (click)="openPort()" *ngIf="!network.port" [disabled]="!selectedPortId"
                    class="btn btn-success btn-lg mx-1">
              <b>OPEN</b>
            </button>
            <button (click)="closePort()" *ngIf="network.port" [disabled]="!network.port"
                    class="btn btn-danger btn-lg mx-1">
              <b>CLOSE</b>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Control Board end -->
    <br />
    <!-- Available Ports start -->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header" style="background-color:#ebfbfa">
          <div *ngIf="!selectedPortId; else selected">
            <h4 class="my-0 text-warning">Available Ports</h4>
          </div>
          <ng-template #selected>
            <h4 class="my-0 text-success">Selected Port</h4>
          </ng-template>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>{{ tableData.headerRow[0] }}</th>
                <th>{{ tableData.headerRow[1] }}</th>
                <th>{{ tableData.headerRow[2] }}</th>
                <th>{{ tableData.headerRow[3] }}</th>
                <th>{{ tableData.headerRow[4] }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.dataRows">
                <td class="text-center">{{row.id}}</td>
                <td><a href="javascript:void(0)" (click)="getPort($event)"><b>{{row.comName}}</b></a></td>
                <td class="text-center">{{row.manufacturer}}</td>
                <td class="text-center">{{row.vendorId}}</td>
                <td class="text-center">{{row.productId}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Available Ports end -->
  </div>
</div>
<!-- Connectivity Card end -->

<!-- Serial Monitoring Card -->
<div class="card" *ngIf="isSerialConnected">
  <div class="card-body">
    <!-- Control Board start -->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header" style="background-color:#ebfbfa">
          <button (click)="sendPacket(network.startRangingType)" class="btn-sm btn-primary mx-1">
            <b>Start Ranging</b>
          </button>
          <button (click)="sendPacket(network.finishRangingType)" class="btn-sm btn-primary mx-1">
            <b>Finish Ranging</b>
          </button>
          <button (click)="sendPacket(network.startMovingNodeRangingType)" class="btn-sm btn-primary mx-1">
            <b>Moving Node Ranging</b>
          </button>
          <button (click)="sendPacket(network.readSensorDataType)" class="btn-sm btn-primary mx-1">
            <b>Read Sensor Data</b>
          </button>
          <button (click)="closePort()" class="btn-sm btn-danger mx-1">
            <b>Close Port</b>
          </button>
        </div>
        <div class="card-body">
          <div class="card-columns">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-sm">
                    <thead>
                    <tr>
                      <th scope="col" *ngFor="let header of aliveHeaders">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of network.dataLoggerService.aliveTable">
                      <td>{{row.ID}}</td>
                      <td>{{row.numOfReadings}}</td>
                      <td>{{row.rcvTime}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-sm">
                    <thead>
                    <tr>
                      <th scope="col" *ngFor="let header of rangingHeaders">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of network.dataLoggerService.rangingTable">
                      <td>{{row.anchorID}}</td>
                      <td>{{row.tagID}}</td>
                      <td>{{row.count}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Control Board end -->
    <br />
    <!-- Serial Monitoring End -->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header" style="background-color:#ebfbfa">
          <button class="btn-sm btn-info mx-1" (click)="getCSV(network.dataLoggerService.rangingData, 'ranging')">Ranging Data</button>
          <button class="btn-sm btn-info mx-1" (click)="getCSV(network.dataLoggerService.sensorData, 'sensor')">Sensor Data</button>
          <button class="btn-sm btn-info mx-1" (click)="getCSV(network.dataLoggerService.aliveData, 'alive')">Alive Data</button>
        </div>
        <div class="consoleOutput">
          <ng-template ngFor let-consoleText [ngForOf]="network.dataLoggerService.consoleTextArray">
            {{consoleText}}<br />
          </ng-template>
        </div>
      </div>
      <br />
      <!-- Serial Monitoring End -->
    </div>
  </div>
</div>
